.button {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'Arial';
	font-weight: bold;
	background-color: whitesmoke;
	border: 2px solid white;
	font-size: 45px;
	cursor: pointer;
	transition: .25s;
}

.button.group {
	flex-direction: column;
}

.button.group .button {
	width: 100%;
}

.button:hover {
	background-color: #e8e8e8;
}