body {
	margin: 0;
}

.expression-error {
	color: red;
	bottom: 15px;
}

.stored-equations {
	top: 15px;
	color: #6f6f6f;
}

.stored-equations,
.expression-error {
	font-size: 16px;
	letter-spacing: 0;
	position: absolute;
	right: 25px;
}


.calculator .keypad {
	display: flex;
    flex-direction: column;
    height: 100vh;
}

.calculator .keypad .expression {
	position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;	
	background-color: #d8d8d8;
    font-size: 60px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: arial;
    letter-spacing: 10px;
    font-weight: bold;
    white-space: nowrap;
    flex-direction: column;	
}

.calculator .keypad .expression.invalid {
	background-color: #fdd4d4;
}

.calculator .keypad > div {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.disable {
	pointer-events: none;
}

